# Data Wrangling through 5 step of  data re-processing including:

## 1: Identify and handling missing value
## 2: Data Formatting (Standardlizing data)
## 3: Data Normalization 
## 4: Data  Bining
## 5: Turning categorical fields to numeric

#### Let's Go with each step, begin with turning csv file to dataframe

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot

In [2]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [4]:
file_path = '/Users/macbook/Documents/Python-for-Data-Analytic_ORIGIN/Learning-Process/Data Analysis with Python/Lab2-DataWrangling/usedcars.csv'

In [6]:
df = pd.read_csv(file_path, names=headers)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Replace '?' characters with Null value by using np.nan

In [9]:
df.replace('?', np.nan, inplace=True)

### Step 1: Identify and handle missing value

In [26]:
missing_data = df.isnull()
missing_data.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

Find how many null values in each columns

In [28]:
for column in missing_data.columns.to_list():
    print(column)
    print(missing_data[column].value_counts(), '\n')

symboling
symboling
False    205
Name: count, dtype: int64

normalized-losses
normalized-losses
False    164
True      41
Name: count, dtype: int64

make
make
False    205
Name: count, dtype: int64

fuel-type
fuel-type
False    205
Name: count, dtype: int64

aspiration
aspiration
False    205
Name: count, dtype: int64

num-of-doors
num-of-doors
False    203
True       2
Name: count, dtype: int64

body-style
body-style
False    205
Name: count, dtype: int64

drive-wheels
drive-wheels
False    205
Name: count, dtype: int64

engine-location
engine-location
False    205
Name: count, dtype: int64

wheel-base
wheel-base
False    205
Name: count, dtype: int64

length
length
False    205
Name: count, dtype: int64

width
width
False    205
Name: count, dtype: int64

height
height
False    205
Name: count, dtype: int64

curb-weight
curb-weight
False    205
Name: count, dtype: int64

engine-type
engine-type
False    205
Name: count, dtype: int64

num-of-cylinders
num-of-cylinders
False    205
Name: count, dtype: int64

engine-size
engine-size
False    205
Name: count, dtype: int64

fuel-system
fuel-system
False    205
Name: count, dtype: int64

bore
bore
False    201
True       4
Name: count, dtype: int64

stroke
stroke
False    201
True       4
Name: count, dtype: int64

compression-ratio
compression-ratio
False    205
Name: count, dtype: int64

horsepower
horsepower
False    203
True       2
Name: count, dtype: int64

peak-rpm
peak-rpm
False    203
True       2
Name: count, dtype: int64

city-mpg
city-mpg
False    205
Name: count, dtype: int64

highway-mpg
highway-mpg
False    205
Name: count, dtype: int64

price
price
False    201
True       4
Name: count, dtype: int64

### Out dataset has 205 rows. Below are columns with number of null values 

     normalized-losses: 41 Null values - Float ---> Replace null with mean value
     num-of-doors : 2 Null values -Object ---> Replace with the top freq 
     bore : 4 Null values - Float ---> Replace null with mean value
     stroke : 4 Null values  - Float ---> Replace null with mean value
     peak-rpm: 2 Null values-  Float ---> Replace null with mean value
     price: 4 Null values  - Removing all rows contain null values in price column
     horsepower: 2 Null values - Float ---> Replace null with mean value

### normalized-losses: 41 Null values

In [32]:
mean_losses = df['normalized-losses'].astype('float').mean()
mean_losses

122.0

In [34]:
df['normalized-losses'].replace(np.nan, mean_losses, inplace=True)

In [36]:
df['normalized-losses'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 205 entries, 0 to 204
Series name: normalized-losses
Non-Null Count  Dtype
--------------  -----
205 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

### num-of-doors : 2 Null values

In [42]:
df['num-of-doors'].describe()

count      203
unique       2
top       four
freq       114
Name: num-of-doors, dtype: object

In [43]:
df['num-of-doors'].replace(np.nan, 'four', inplace=True)

In [44]:
df['num-of-doors'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 205 entries, 0 to 204
Series name: num-of-doors
Non-Null Count  Dtype
--------------  -----
205 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

### bore : 4 Null values

In [48]:
mean_bore = df['bore'].astype('float').mean()
mean_bore

3.3297512437810943

In [49]:
df['bore'].replace(np.nan, mean_bore, inplace=True)

In [50]:
df['bore'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 205 entries, 0 to 204
Series name: bore
Non-Null Count  Dtype
--------------  -----
205 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

### stroke : 4 Null values

In [51]:
mean_stroke = df['stroke'].astype('float').mean()
mean_stroke

3.255422885572139

In [52]:
df['stroke'].replace(np.nan, mean_stroke, inplace=True)

In [53]:
df['stroke'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 205 entries, 0 to 204
Series name: stroke
Non-Null Count  Dtype
--------------  -----
205 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

### peak-rpm: 2 Null values

In [56]:
mean_rpm = df['peak-rpm'].astype('float').mean()
mean_rpm

5125.369458128079

In [57]:
df['peak-rpm'].replace(np.nan, mean_rpm, inplace=True)

In [58]:
df['peak-rpm'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 205 entries, 0 to 204
Series name: peak-rpm
Non-Null Count  Dtype
--------------  -----
205 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

### horsepower: 2 Null values

In [59]:
mean_horsepower = df['horsepower'].astype('float').mean()
mean_horsepower

104.25615763546799

In [60]:
df['horsepower'].replace(np.nan, mean_horsepower, inplace=True)

In [61]:
df['horsepower'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 205 entries, 0 to 204
Series name: horsepower
Non-Null Count  Dtype
--------------  -----
205 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

 ### price: 4 Null values  - Removing all rows. This field will be used to evaluate model later.

In [63]:
df.dropna(subset=['price'], axis=0, inplace=True)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          201 non-null    int64
 1   normalized-losses  201 non-null    object
 2   make               201 non-null    object
 3   fuel-type          201 non-null    object
 4   aspiration         201 non-null    object
 5   num-of-doors       201 non-null    object
 6   body-style         201 non-null    object
 7   drive-wheels       201 non-null    object
 8   engine-location    201 non-null    object
 9   wheel-base         201 non-null    float64
 10  length             201 non-null    float64
 11  width              201 non-null    float64
 12  height             201 non-null    float64
 13  curb-weight        201 non-null    int64
 14  engine-type        201 non-null    object
 15  num-of-cylinders   201 non-null    object
 16  engine-size        201 non-null    int64
 17  fuel-system        201 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  201 non-null    float64
 21  horsepower         201 non-null    object
 22  peak-rpm           201 non-null    object
 23  city-mpg           201 non-null    int64
 24  highway-mpg        201 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 42.4+ KB