# List of countries and inhabited territories by total population. United Nations

### The First Method: not using pandas

In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)'

In [7]:
r = requests.get(url)
data = r.text

In [11]:
soup = BeautifulSoup(data, 'html.parser')

In [32]:
table_rows = soup.find('tbody').find_all('tr')
# row1 = table_rows[0]
# cells = row1.find_all('td')
# cells

<tr class="static-row-numbers-norank">
<td><b><span class="flagicon" style="padding-left:25px;"> </span><a href="/wiki/World_population" title="World population">World</a></b></td>
<td>8,021,407,192</td>
<td>8,091,734,930</td>
<td><span data-sort-value="6999880000000000000♠" style="display:none"></span><span style="color:green">+0.88%</span></td>
<td></td>
<td>
</td></tr>

### Create Dataframe for Table

In [21]:
df_population = pd.DataFrame(columns = ['Location','Population (1 July 2022)','Population (1 July 2023)', 'Change' ,'UN Continental Region','UN Statistical Subregion'])
df_population

Empty DataFrame
Columns: [Location, Population (1 July 2022), Population (1 July 2023), Change, UN Continental Region, UN Statistical Subregion]
Index: []

In [33]:
for row in table_rows[1:]:
    cells = row.find_all('td')
    Location = cells[0].text
    Population1 = cells[1].text
    Population2 = cells[2].text
    change = cells[3].text
    Continental_Region = cells[4].text
    Statistical_Subregion = cells[5].text
    
    row_dataframe = pd.DataFrame({"Location":[Location], "Population (1 July 2022)":[Population1], "Population (1 July 2023)":[Population2],"Change":[change], "UN Continental Region":[Continental_Region], "UN Statistical Subregion":[Statistical_Subregion]})
    df_population = pd.concat([df_population, row_dataframe], ignore_index=True)

In [34]:
df_population

,Location,Population (1 July 2022),Population (1 July 2023),Change,UN Continental Region,UN Statistical Subregion
0,World,"8,021,407,192","8,091,734,930",+0.88%,,\n
1,India,"1,425,423,212","1,438,069,596",+0.89%,Asia,Southern Asia\n
2,China[a],"1,425,179,569","1,422,584,933",−0.18%,Asia,Eastern Asia\n
3,United States,"341,534,046","343,477,335",+0.57%,Americas,Northern America\n
4,Indonesia,"278,830,529","281,190,067",+0.85%,Asia,South-eastern Asia\n
...,...,...,...,...,...,...
233,Montserrat (United Kingdom),"4,453","4,420",−0.74%,Americas,Caribbean\n
234,Falkland Islands (United Kingdom),"3,490","3,477",−0.37%,Americas,South America\n
235,Tokelau (New Zealand),"2,290","2,397",+4.67%,Oceania,Polynesia\n
236,Niue (New Zealand),"1,821","1,817",−0.22%,Oceania,Polynesia\n
237,Vatican City[x],505,496,−1.78%,Europe,Southern Europe\n